
body{
    margin: 0;
    font-family: Helvetica, sans-serif
}


p{
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.purple{
    background-color: #540B51 ;
    color: white;
}

.gen-margin{
    margin: 0 5%;
}
.no-margin{
    margin: 0;
}

nav {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 5%;
}

.nav-logo{
    height: 25px;
}

.nav-button{
    background: none;
}

h1{
    margin: 0 0 5% 0;
    text-align: center;
    font-size: 2.3rem;
}



.top-header{
    text-align: center;
    padding-top: 5%;
}

.pair-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5% 0;
}

.gen-button{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
}

.gen-button > img{
    height: 50%;
}

.white-button{
    background-color: white;
    color: #540B51;
    border: 1px solid #540B51 ;
    font-weight: 600;
}

.blue-button{
    background-color: #4285F4;
    color: lightgray;
    font-weight: 600;
}

.purple-button{
    background-color: #540B51;
    color: lightgray;
    border: 1px solid lightgray ;
    font-weight: 600; 
}

#companies p{
    text-align: center;
    font-size: 1.2rem;
    padding: 10% 0;
    font-weight: 550;
}

#companies{
    padding: 10% 0;
}
.companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.companies>img{
    height: 30px;
    margin: 0.5%;
}

.ivory{
    background-color: #F3EAE2;
}

h2, h3{
    font-size: 1.8rem;
    margin: 10% 0;
}

.ivory a{
    text-decoration: none;
    color: #2E71A6 ;
}

.center-section{
    padding: 5% 0;
    text-align: center;
}

ul {
    padding: 0;
}

li{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding: 5% 0;
}

.percentage{
    font-size: 2rem;
    color: #540B51;
}






@media (max-width: 678px){
    .nav-menu{
        display: none;
    }
}

/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
