
body{
    margin: 0;
    font-family: Helvetica, sans-serif;
    margin-bottom: 2rem;
}


p{
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.purple{
    background-color: #540B51 ;
    color: white;
}

.gen-margin{
    margin: 0 5%;
}
.no-margin{
    margin: 0;
}

nav {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 5%;
}

.nav-logo{
    height: 25px;
}

.nav-button{
    background: none;
    border: none;
}

h1{
    margin: 0 0 5% 0;
    text-align: center;
    font-size: 2.3rem;
}



.top-header{
    text-align: center;
    padding-top: 5%;
}

.yellow-text{
    color: rgb(226, 226, 116);
}

.pair-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5% 0;
}

.gen-button{
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
}

.gen-button > img{
    height: 50%;
}

.white-button{
    background-color: white;
    color: #540B51;
    border: 1px solid #540B51 ;
    font-weight: 600;
}

.blue-button{
    background-color: #4285F4;
    color: lightgray;
    font-weight: 600;
}

.purple-button{
    background-color: #540B51;
    color: lightgray;
    border: 1px solid lightgray ;
    font-weight: 600; 
}

#companies p{
    text-align: center;
    font-size: 1.2rem;
    padding: 10% 0;
    font-weight: 550;
}

#companies{
    padding: 10% 0;
}
.companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.companies>img{
    height: 30px;
    margin: 0.5%;
}

.ivory{
    background-color: #F3EAE2;
}

h2, h3{
    font-size: 1.8rem;
    margin: 10% 0;
}

.ivory a{
    text-decoration: none;
    color: #2E71A6 ;
}

.center-section{
    padding: 5% 0;
    text-align: center;
}

ul {
    padding: 0;
}

li{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding: 5% 0;
}


.percentage{
    font-size: 2rem;
    color: #540B51;
}

.main-content{
    padding-bottom: 3rem;
}
.main-content p{
    padding-bottom: 1rem;
}

.footer-logo{
    height: 3rem;
    padding-top: 1.5rem;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.footer-menu ul{
    width: 23%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 2rem;
}

.footer-menu > ul > li{
    margin-left:0;
    margin-right: 0;
    width: 100%;
    margin-top: 0.2rem;
    color: grey;
    text-align: start;
}

.footer-menu>ul>li:first-child{
    font-weight: 700;
    color: black;
}

.policy{
    text-align: start;
    border-bottom: none;
}

.policy li{
    margin: 0;
    font-size: 0.75rem;
    padding: 0.8rem;
    font-weight: 600;
}

.notMobile{
    display: none;
}

.media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.media li{
    padding: 0;
    margin: 5%;
    width: auto;
}

small{
    font-size: 0.7rem;
    line-height: 1px;
}










@media (max-width: 678px){
    .nav-menu{
        display: none;
    }
}

/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
